:root {}

header {
    text-align:center;
  }

  table {
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
  }
  caption {
    padding:1% 0;
    font-weight:bold
  }
  th {
    height:40px;
    text-align:left;
    border-bottom:3px solid black;
  }
  tbody {}
  tfoot {}
  tr td{
    border-bottom:2px dashed;
    /* min-width:100px; */
    padding:1%;
    width:0.1%;
  }

  #intro {
    text-align: center;
  }

  .fieldBar {
    text-align: center;
  }