<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Edit Status</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">
</head>

    <body>
    <header>
        <H1 align="center"><a href="/index">Slam Dunk</a></H1>
        <nav align="center" class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>
        <section>
            <H2 align="center">Edit Status</H2>
        </section>
    </header>

    <div id="edit" align="center">
            <form method="POST" id="editInjury" action="/editInjury/{{injury_data[0].injury_id}}">
                <legend><strong>Edit Status</strong></legend>
                <fieldset class="acres">
                    <input type="hidden" class="form-control" name="injury_id" id="injury_id" value="{{injury_data[0].injury_id}}" required">
                    <label>Injury ID: </label> {{injury_data[0].injury_id}}
                    <label>Injury Tag: </label> <input type="text" class="form-control" name="injury_tag" id="injury_tag" placeholder="{{injury_data[0].injury_tag}}" value="{{injury_data[0].injury_tag}}">
                    <label>Injury Description: </label> <textarea class="form-control" name="injury_description" id="injury_description">{{injury_data[0].injury_description}}</textarea>
                    <input class="btn" type="submit" name="editInjury" id="editInjur" value="Submit">
                </fieldset>
                    <a href="/injuryStatus">Cancel</a>
            </form>
            <p>&nbsp;</p>
        </div> <!--edit-->
        <footer>
            &copy; 2024 Gilbert Keithline & Sayid Ali
        </footer>
    </body>
</html>