<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Edit Player</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">
</head>

    <body>
    <header>
        <H1 align="center"><a href="/index">Slam Dunk</a></H1>
        <nav align="center" class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>
        <section>
            <H2 align="center">Edit Players</H2>
        </section>
    </header>

    <main>
        <div id="edit" align="center">
                <form method="POST" id="editPlayer" action="/editPlayer/{{player_data[0].player_id}}">
                    <fieldset class="acres">
                        <input type="hidden" class="form-control" name="player_id" id="player_id" value="{{player_data[0].player_id}}" required>
                        <label>Player ID: </label> {{player_data[0].player_id}}
                        <label>Player Name: </label> <input type="text" name="player_name" class="form-control" id="pname" placeholder="{{player_data[0].player_name}}" value="{{player_data[0].player_name}}" required>
                        <label>Points: </label> <input type="number" name="player_points" class="form-control" id="points" placeholder="{{player_data[0].point_stat}}" value="{{player_data[0].point_stat}}" required>
                        <label>Assists: </label> <input type="number" name="player_assists" class="form-control" id="assists" placeholder="{{player_data[0].assist_stat}}" value="{{player_data[0].assist_stat}}" required>
                        <label>Rebounds: </label> <input type="number" name="player_rebounds" class="form-control" id="rebounds" placeholder="{{player_data[0].rebound_stat}}" value="{{player_data[0].rebound_stat}}" required>
                        <p></P>
                        <label>Blocks: </label> <input type="number" name="player_blocks" class="form-control" id="blocks" placeholder="{{player_data[0].block_stat}}" value="{{player_data[0].block_stat}}" required>
                        <label>Steals: </label> <input type="number" name="player_steals" class="form-control" id="steals" placeholder="{{player_data[0].steal_stat}}" value="{{player_data[0].steal_stat}}" required>
                        <label>Minutes: </label> <input type="number" name="player_minutes" class="form-control" id="minutes" placeholder="{{player_data[0].timePlayed_stat}}" value="{{player_data[0].timePlayed_stat}}" required>
                        <label>Team ID: </label> 
                            <select name="player_team" class="form-control" id="player_team">
                            {% for row in team_data %}
                                {% for key in row.keys() %}
                                    <option value ={{row[key]}} {% if row[key] == player_data[0].team_id %} selected {% endif %}>{{row[key]}}</option>
                                {% endfor %}
                            {% endfor %}
                            </select>
                        <label>Injury Status: </label> 
                            <select name="player_injury" class="form-control" id="player_injury">
                            {% for row in injury_data %}
                                {% for key in row.keys() %}
                                    <option value ={{row[key]}} {% if row[key] == player_data[0].injury_id %} selected {% endif %}>{{row[key]}}</option>
                                {% endfor %}
                            {% endfor %}
                            </select>
                        <input class="btn" type="submit" name = "editPlayer" id="editPlayer" value="Submit">
                    </fieldset>
                        <a href="/players">Cancel</a>
                </form>
                <p>&nbsp;</p>
        </div> <!-- edit -->
        <footer>
            &copy; 2024 Gilbert Keithline & Sayid Ali
        </footer>
    </body>
</html>