<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='dunk.css')}}">
</head>

<body>
    <header>
        <h1 class="main-title"><a href="index" class="home">Slam Dunk</a></h1>
        <section>
            <nav class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>

            <h2 class="subtitle">Welcome!</h2>
        </section>
    </header>

    <main>

    <section id='welcome'>
        <p>
            Every year, millions of people participate in a beloved tradition—fantasy sports. According to the Fantasy Sports & Gaming Association, 
            approximately 62.5 million people across the US and Canada played fantasy sports in 2022. The ultimate goal for every participant is to 
            build a winning roster and claim victory in their friend group tournament. In order to do this, participants must have a deep understanding 
            of the sport and the players. Key statistics such as points, rebounds, assists, rushing yards, and passes are vital, but more subtle 
            factors, like how often a player is benched due to injury, can also make or break your chances of winning the championship. Some leagues 
            even play for cash prizes and the fantasy sports market was valued at nearly $30 billion and growing in 2023. So the stakes can get pretty high!
        </p>
        <p> 
            Slam Dunk uses a database backend to track Users, Rosters, Players, Teams, Injury Statuses, and Player-Roster relations. With Slam Dunk, a fantasy service provider
            can view which Users own each Roster and which Players are on those Rosters. Furthermore, managers can view Players, their stats, their Injury Status and the real-world 
            Teams they belong to. All entities feature a full suite of active CRUD operations.
        </p>
    </section>

    </main>
    
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>