<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='dunk.css')}}">
</head>

<body>
    <header>
        <H1 align="center"><a href="index">Slam Dunk</a></H1>
        <section>
            <nav align="center" class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn">Players-Rosters</a>
            </nav>

            <H2>Welcome!!</H2>
        </section>
    </header>

    <main>
        <p id="intro">
            Welcome to Slam Dunk, a fantasy basketball database. Use the navigation bar above to browse and interact
            with the various entities in the database.
        </p>
        <p align="center"> Presently, all tabs are active with full CRUD functionality.</p>
    </main>
    
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>