<!--Project Group 14 - Sayid Ali and Gilbert Keithline-->
<!--Date: 12/9/2024-->
<!--Project Part 6 FINAL-->

<!--Citation for 'reveal()' function-->
<!--Based on Dr. Curry's function 'showForm()' as 
    demonstrated in Module 6: Exploration- Web Application Technology -->
<!--Date: 11/05/2024-->
<!--Source URL: https://canvas.oregonstate.edu/courses/1976520/pages/exploration-web-application-technology?module_item_id=24719064-->

<!--Citation for: CSS implementation in Flask-->
<!--Date: 11/19/2024-->
<!--Copied from: Stack Overflow-->
<!--Source URL: https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python-->

<!--Citation for: Flask-Python html code-->
<!--Date: 11/17/2024-->
<!--Adapted from: OSU CS340 - Flask Starter App-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Players</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">

    <!--Hide extra CRUD fields until called upon.-->
    <!-- Adapted from Dr. Curry -->
    <script language="JavaScript">
        function reveal(command) {
            if (command == 'add'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
            else {
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
        }
        function addField() {reveal('add');}
        function readFields() {reveal('read');}
    </script>
</head>

<body onload="readFields()">
    <header class="main-header">
        <h1 class="page-title"><a href="index" class="home">Slam Dunk</a></h1>
        <nav class="basketball-nav">
            <a href="users" class="basketball-btn">Users</a>
            <a href="rosters" class="basketball-btn">Rosters</a>
            <a href="players" class="basketball-btn">Players</a>
            <a href="teams" class="basketball-btn">Teams</a>
            <a href="injuryStatus" class="basketball-btn">Injury Status</a>
            <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
        </nav>
        <section class="page-section">
            <h2 class="section-title">Players</h2>
            <div class="action-container">
                <button onClick="addField()" class="btn action-btn">Add Player</button>
            </div>
        </section>
    </header>

<!-- DISPLAY FUNCTION -->
    <main>
        <div id="read">
            <table align="center">
                {% if player_data %}
                    <thead>
                        <tr align="left" border-bottom="3px solid black">
                            {% for key in player_data[0].keys() %}
                            <th scope='col' data-field='{{ key }}' data-filter-control='input'>{{ key }}</th>
                            {% endfor %}
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in player_data %}
                            <tr>
                                {% for key in row.keys() %}
                                <td> {{row[key]}} </td>
                                {% endfor %}
                                <!-- UPDATE FUNCTION -->
                                <td><a href="editPlayer/{{row.ID}}"><button>Update</button></a></td>
                                <!-- REMOVE FUNCTION -->
                                <td><a href="removePlayer/{{row.ID}}"><button>Remove</button></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        <p>&nbsp;</p>
        </div>

    <!-- CREATE FUNCTION -->
        <div id="add" align="center">
            <form method="POST" id="addPlayer" action="/players">
                <legend><strong>Add Player</strong></legend>
                <fieldset class="acres">
                    <label>Player Name: </label> <input type="text" name="player_name" class="form-control" id="pname" placeholder="Player Name" required>
                    <label>Points: </label> <input type="number" name="player_points" class="form-control" id="points" placeholder="0" value="0">
                    <label>Assists: </label> <input type="number" name="player_assists" class="form-control" id="assists" placeholder="0" value="0">
                    <label>Rebounds: </label> <input type="number" name="player_rebounds" class="form-control" id="rebounds" placeholder="0" value="0">
                    <p></p>
                    <label>Blocks: </label> <input type="number" name="player_blocks" class="form-control" id="blocks" placeholder="0" value="0">
                    <label>Steals: </label> <input type="number" name="player_steals" class="form-control" id="steals" placeholder="0" value="0">
                    <label>Minutes: </label> <input type="number" name="player_minutes" class="form-control" id="minutes" placeholder="0" value="0">
                    <label>Team: </label> 
                        <select name="player_team" class="form-control" id="player_team">
                            {% for key in teamKeyList %}    <!-- Make use of the pre-sorted list. Original work. -->
                                <option value ={{key}}>{{key}}</option>
                        {% endfor %}
                        </select>
                    <label>Injury Status: </label> 
                        <select name="player_injury" class="form-control" id="player_injury">
                            {% for key in injKeyList %}    <!-- Make use of the pre-sorted list. Original work. -->
                                <option value ={{key}} {% if key == "NULL" %} selected {% endif %}>{{key}}</option>
                        {% endfor %}
                        </select>
                    <input class="btn" type="submit" id="addPlayer" name="addPlayer" value="Submit">
                </fieldset>
                    <input class="btn" type="button" value="Cancel" onClick="readFields()">
            </form>
            <p>&nbsp;</p>
        </div>


    </main>
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>