<!--Project Group 14 - Sayid Ali and Gilbert Keithline-->
<!--Date: 12/9/2024-->
<!--Project Part 6 FINAL-->

<!--Citation for 'reveal()' function-->
<!--Based on Dr. Curry's function 'showForm()' as 
    demonstrated in Module 6: Exploration- Web Application Technology -->
<!--Date: 11/05/2024-->
<!--Source URL: https://canvas.oregonstate.edu/courses/1976520/pages/exploration-web-application-technology?module_item_id=24719064-->

<!--Citation for: CSS implementation in Flask-->
<!--Date: 11/19/2024-->
<!--Copied from: Stack Overflow-->
<!--Source URL: https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python-->

<!--Citation for: Flask-Python html code-->
<!--Date: 11/17/2024-->
<!--Adapted from: OSU CS340 - Flask Starter App-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Players-Rosters</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">

    <!--Hide extra CRUD fields until called upon.-->
    <!-- Adapted from Dr. Curry -->
    <script language="JavaScript">
        function reveal(command) {
            if (command == 'add'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
            else {
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
        }
        function addField() {reveal('add');}
        function readFields() {reveal('read');}
    </script>
</head>

<body onload="readFields()">
    <header>
        <h1 class="main-title"><a href="index" class="home">Slam Dunk</a></h1>
        <section>
            <nav class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>

            <h2 class="subtitle">Player-Roster Relationships</h2>
            <p class="action-container">
                <button onClick="addField()" class="btn action-btn">Add Relationship</button>
            </p>
        </section>
    </header>

<!-- DISPLAY FUNCTION -->
    <main>
        <div id="read">
            <table align="center">
                {% if pr_data %}
                    <thead>
                        <tr align="left" border-bottom="3px solid black">
                            {% for key in pr_data[0].keys() %}
                            <th scope='col' data-field='{{ key }}' data-filter-control='input'>{{ key }}</th>
                            {% endfor %}
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in pr_data %}
                            <tr>
                                {% for key in row.keys() %}
                                <td> {{row[key]}} </td>
                                {% endfor %}
                                <!-- UPDATE FUNCTION -->
                                <td><a href="editRelation/{{row.ID}}"><button>Update</button></a></td>
                                <!-- REMOVE FUNCTION -->
                                <td><a href="removeRelation/{{row.ID}}"><button>Remove</button></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        <p>&nbsp;</p>
        </div>

    <!-- CREATE FUNCTION -->
        <div id="add" align="center">
            <form method="POST" id="addRelation" action="/playersRosters">
                <legend><strong>Add Relation</strong></legend>
                <fieldset class="acres">
                    <label>Player ID</label>
                        <select name="player" class="form-control" id="player">
                            {% for key in playerKeyList %}    <!-- Make use of the pre-sorted list. Original work. -->
                                <option value ={{key}}>{{key}}</option>
                        {% endfor %}
                        </select>
                    <label>Roster ID</label>
                        <select name="roster" class="form-control" id="roster">
                            {% for key in rosterKeyList %}    <!-- Make use of the pre-sorted list. Original work. -->
                                <option value ={{key}}>{{key}}</option>
                        {% endfor %}
                        </select>
                    <input class="btn" type="submit" id="addRelation" name="addRelation" value="Submit">
                </fieldset>
                    <input class="btn" type="button" value="Cancel" onClick="readFields()">
            </form>
            <p>&nbsp;</p>
        </div>


    </main>
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>