<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Teams</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">
    <script language="JavaScript">
        function reveal(command) {
            if (command == 'add'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
            else if (command == 'remove'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'block';
            }
            else if (command =='edit'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('remove').style.display = 'none';
            }
            else if (command == 'all'){
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('remove').style.display = 'block';
            }
            else {
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
        }
        function addField() {reveal('add');}
        function removeField(id) {reveal('remove');}
        function editField(id) {reveal('edit');}
        function readFields() {reveal('read');}
        function revealAll() {reveal('all')}
    </script>
</head>

<body onload="readFields()">
    <header>
        <H1 align="center"><a href="index" class="home">Slam Dunk</a></H1>
        <nav align="center" class="basketball-nav">
            <a href="users" class="basketball-btn">Users</a>
            <a href="rosters" class="basketball-btn">Rosters</a>
            <a href="players" class="basketball-btn">Players</a>
            <a href="teams" class="basketball-btn">Teams</a>
            <a href="injuryStatus" class="basketball-btn">Injury Status</a>
            <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
        </nav>
        <section>
            <H2 align="center">Teams</H2>
            <div class="action-container">
                <button onClick="addField()" class="btn action-btn">Add Team</button>
            </div>
        </section>
    </header>

    <main>
        <div id="read">
            <table align="center">
                {% if team_data %}
                    <thead>
                        <tr align="left" border-bottom="3px solid black">
                            {% for key in team_data[0].keys() %}
                            <th scope='col' data-field='{{ key }}' data-filter-control='input'>{{ key }}</th>
                            {% endfor %}
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in team_data %}
                            <tr>
                                {% for key in row.keys() %}
                                <td> {{row[key]}} </td>
                                {% endfor %}
                                <td><a href="viewTeam/{{row.ID}}"><button>View Team</button></a></td>
                                <td><a href="editTeam/{{row.ID}}"><button>Update</button></a></td>
                                <td><a href="removeTeam/{{row.ID}}"><button>Remove</button></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        <p>&nbsp;</p>
        </div> <!-- read -->

        <div id="add" align="center">
            <form method="POST" id="addTeam" action="/teams">
                <legend><strong>Add Team</strong></legend>
                <fieldset class="acres">
                    <label>Team Name: </label> <input type="text" name="team_name" class="form-control" id="tname" placeholder="Team Name" required>
                    <label>Team Wins: </label> <input type="number" name="team_win" class="form-control" id="twin" placeholder="0">
                    <label>Team Losses: </label> <input type="number" name="team_loss" class="form-control" id="tloss" placeholder="0">
                    <input class="btn" type="submit" id="addTeam" name="addTeam" value="Submit">
                </fieldset>
                    <input class="btn" type="button" value="Cancel" onClick="readFields()">
            </form>
            <p>&nbsp;</p>
        </div> <!--add-->

            </main>
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>