<!--Project Group 14 - Sayid Ali and Gilbert Keithline-->
<!--Date: 12/9/2024-->
<!--Project Part 6 FINAL-->

<!--Citation for: CSS implementation in Flask-->
<!--Date: 11/19/2024-->
<!--Copied from: Stack Overflow-->
<!--Source URL: https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python-->

<!--Citation for: Flask-Python html code-->
<!--Date: 11/17/2024-->
<!--Adapted from: OSU CS340 - Flask Starter App-->
<!--Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app-->

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Players</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">
</head>

<body>
    <header>
        <H1 align="center"><a href="/index" class="home">Slam Dunk</a></H1>
        <nav align="center" class="basketball-nav">
                <a href="/users" class="basketball-btn">Users</a>
                <a href="/rosters" class="basketball-btn">Rosters</a>
                <a href="/players" class="basketball-btn">Players</a>
                <a href="/teams" class="basketball-btn">Teams</a>
                <a href="/injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="/playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>
        <section>
            <H2 align="center">View Roster</H2>
            <a href="/rosters" align='center'><button>Return to Rosters</button></a>
        </section>
    </header>

<!-- DISPLAY FUNCTION -->
    <main>
        <div id="read">
            <table align="center">
                {% if roster_data %}
                    <thead>
                        <tr align="left" border-bottom="3px solid black">
                            {% for key in roster_data[0].keys() %}
                            <th scope='col' data-field='{{ key }}' data-filter-control='input'>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in roster_data %}
                            <tr>
                                {% for key in row.keys() %}
                                <td> {{row[key]}} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        <p>&nbsp;</p>
        </div> <!-- read -->


    </main>
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>