<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Slam Dunk- Players</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='dunk.css')}}">
    <script language="JavaScript">
        function reveal(command) {
            if (command == 'add'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
            else if (command == 'remove'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'block';
            }
            else if (command =='edit'){
                document.getElementById('read').style.display = 'none';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('remove').style.display = 'none';
            }
            else if (command == 'all'){
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'block';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('remove').style.display = 'block';
            }
            else {
                document.getElementById('read').style.display = 'block';
                document.getElementById('add').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('remove').style.display = 'none';
            }
        }
        function addField() {reveal('add');}
        function removeField(id) {reveal('remove');}
        function editField(id) {reveal('edit');}
        function readFields() {reveal('read');}
        function revealAll() {reveal('all')}
    </script>
</head>

<body onload="readFields()">
    <header>
        <H1 align="center"><a href="/index" class="home">Slam Dunk</a></H1>
        <nav align="center" class="basketball-nav">
                <a href="users" class="basketball-btn">Users</a>
                <a href="rosters" class="basketball-btn">Rosters</a>
                <a href="players" class="basketball-btn">Players</a>
                <a href="teams" class="basketball-btn">Teams</a>
                <a href="injuryStatus" class="basketball-btn">Injury Status</a>
                <a href="playersRosters" class="basketball-btn multi-line">Players-Rosters</a>
            </nav>
        <section>
            <H2 align="center">View Team</H2>
            <a href="/teams" align='center'><button>Return to Teams</button></a>
        </section>
    </header>

    <main>
        <div id="read">
            <table align="center">
                {% if team_data %}
                    <thead>
                        <tr align="left" border-bottom="3px solid black">
                            {% for key in team_data[0].keys() %}
                            <th scope='col' data-field='{{ key }}' data-filter-control='input'>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in team_data %}
                            <tr>
                                {% for key in row.keys() %}
                                <td> {{row[key]}} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        <p>&nbsp;</p>
        </div> <!-- read -->


    </main>
    <footer>
        &copy; 2024 Gilbert Keithline & Sayid Ali
    </footer>
</body>
</html>